@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo-secondy a img {
    cursor: pointer;
    width: 210px;
}

button {
    color: #edf0f1;
    background-color: #21963b;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #6bc9ca;
}

.btn_register {
    width: 150px;
    padding: 11px 6px;
    border-radius: 10px 0 0 10px;
    margin-right: -5px;
}

.btn_login {
    padding: 11px 25px;
    padding-left: 15px;
    border-radius: 0 10px 10px 0;
}