{% extends 'index_admin.html' %}

{% block title %}
VIA PONTO - Página Inicial
{% endblock title %}

{% block content %}
    <h2>Seja Bem Vindo a Área Administrativa do VIA PONTO!</h2>
  <h2>Dashboard</h2>
<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Usuários cadastrados no sistema
                        </div>
                        {% for user in usuarios %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ user.numero_usuario }}</div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Empresas cadastradas no sistema
                        </div>
                        {% for emp in empresas %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ emp.numero_empresa }}</div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
