{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 class="title">CADASTRO DE LOCAL</h3>
    
    <form method="POST" class="mb-7" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nome do Local</label>
                <input 
                    type="text"
                    class="form-control"
                    name="nome_local"
                >
            </div>
            <div class="form-group col-md-6">
                <div class="input-group" style="margin-top: 30px;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="departamento">Departamento</label>
                    </div>
                    <select class="custom-select" name="departamento" id="departamento">
                        <option selected>Selecione um departamento</option>
                        {% for departamento in departamentos %}
                            <option value="{{departamento.objectId}}">{{ departamento.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>CEP</label>
                <input 
                    type="text"
                    class="form-control"
                    name="cep"
                    id="id_postal_code"
                    onchange="getAddress()"
                >
            </div>
            <div class="form-group col-md-4">
                <label>UF</label>
                <input
                    type="text"
                    class="form-control"
                    name="uf"
                    id="id_state"
                >
            </div>
            <div class="form-group col-md-4">
                <label>Cidade</label>
                <input
                    type="text"
                    class="form-control"
                    name="cidade"
                    id="id_city"
                >
            </div>
        </div>
            
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Logradouro</label>
                <input
                    type="text"
                    class="form-control"
                    name="logradouro"
                    id="id_address"
                >
            </div>
            <div class="form-group col-md-4">
                <label>Bairro</label>
                <input
                    type="text"
                    class="form-control"
                    name="bairro"
                    id="id_district"
                >
            </div>
            <div class="form-group col-md-4">
                <label>Número</label>
                <input
                    type="text"
                    class="form-control"
                    name="numero"
                >
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-lg">SALVAR</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/imask@6.0.7/dist/imask.js"></script>
    <script>
        var maskPostalCode = IMask(document.getElementById('id_postal_code'), {
            mask: '00000-000'
        })
    </script>
    <script src="{% static 'js/api-cep.js' %}"></script>
{% endblock %}