{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 class="title">CADASTRO DE COLABORADORES</h3>

    <form method="POST" class="mb-7" enctype="multipart/form-data"> {% csrf_token %}
        <div>
            <h4 class="subtitle">Dados do Colaborador</h4>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Nome Completo</label>
                <input type="text" class="form-control" name="nome">
            </div>
            <div class="form-group col-md-4">
                <label>CPF</label>
                <input type="text" class="form-control" name="cpf" id="id_cpf" required>
            </div>
            <div class="form-group col-md-4">
                <label>Data de Nascimento</label>
                <input type="date"  class="form-control" name="datanasc">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Celular</label>
                <input type="text"  class="form-control" name="celular" id="phone">
            </div>
            <div class="form-group col-md-4">
                <label>Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group col-md-4">
                <label>Data Admissão</label>
                <input type="date" class="form-control" name="admissao" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>PIS</label>
                <input type="number" class="form-control" name="pis">
            </div>
            <div class="form-group col-md-4">
                <div class="input-group" style="margin-top: 30px;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="cargo">Cargo</label>
                    </div>
                    <select class="custom-select" name="cargo" id="cargo">
                        <option value="nao definido" selected>Selecione um cargo</option>
                        {% for cargo in cargos %}
                            <option value="{{cargo.objectId}}">{{ cargo.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="input-group" style="margin-top: 30px;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="departamento">Departamento</label>
                    </div>
                    <select class="custom-select" name="departamento" id="departamento">
                        <option value="nao definido" selected>Selecione um departamento</option>
                        {% for departamento in departamentos %}
                            <option value="{{departamento.objectId}}">{{ departamento.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h4 class="subtitle my-3">Endereço do Colaborador</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>CEP</label>
                <input 
                    type="text"
                    class="form-control"
                    name="cep"
                    id="id_postal_code"
                    onchange="getAddress()"
                >
            </div>
            <div class="form-group col-md-4">
                <label>UF</label>
                <input
                    type="text"
                    class="form-control"
                    name="uf"
                    id="id_state"
                >
            </div>
            <div class="form-group col-md-4">
                <label>Cidade</label>
                <input
                    type="text"
                    class="form-control"
                    name="cidade"
                    id="id_city"
                >
            </div>
        </div>
            
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Logradouro</label>
                <input
                    type="text"
                    class="form-control"
                    name="logradouro"
                    id="id_address"
                >
            </div>
            <div class="form-group col-md-4">
                <label>Bairro</label>
                <input
                    type="text"
                    class="form-control"
                    name="bairro"
                    id="id_district"
                >
            </div>
            <div class="form-group col-md-4">
                <label>Número</label>
                <input
                    type="text"
                    class="form-control"
                    name="numero"
                >
            </div>
        </div>

        <div>
            <h4 class="subtitle">Dados de Acesso do Colaborador</h4>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Usuário do Colaborador</label>
                <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group col-md-4">
                <label>Senha do Colaborador</label>
                <input type="password"  class="form-control" name="password" required>
            </div>
        </div>
        
        <button type="submit" class="btn btn-info btn-lg">CADASTRAR</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/imask@6.0.7/dist/imask.js"></script>
    <script src="{% static 'js/mask-func.js' %}"></script>
    <script src="{% static 'js/api-cep.js' %}"></script>
{% endblock %}
