{% extends 'base.html' %}
{% load static %}

{% block title %} VIA PONTO - Horário {% endblock title %}

{% block content %}
    <h3 class="title">CADASTRO DE TURNO</h3>
    
    <form method="POST" class="mb-7" enctype="multipart/form-data"> {% csrf_token %}
        <h4 class="subtitle my-3">Informe os dados de expediente</h4>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nome do Turno</label>
                <input
                    type="text"
                    class="form-control"
                    name="nome_turno"
                    required
                >
            </div>
            <div class="form-group col-md-6">
                <div class="input-group" style="margin-top: 30px;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="departamento">Departamento</label>
                    </div>
                    <select class="custom-select" name="departamento" id="departamento">
                        <option selected>Selecione um departamento</option>
                        {% for departamento in departamentos %}
                            <option value="{{departamento.objectId}}">{{ departamento.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <h3 class="text">Segunda</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="seg_primeira_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="seg_primeira_saida"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="seg_segunda_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="seg_segunda_saida"
                >
            </div>
        </div>

        <h3 class="text">Terça</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="ter_primeira_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="ter_primeira_saida"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="ter_segunda_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="ter_segunda_saida"
                >
            </div>
        </div>

        <h3 class="text">Quarta</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="qua_primeira_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="qua_primeira_saida"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="qua_segunda_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="qua_segunda_saida"
                >
            </div>
        </div>

        <h3 class="text">Quinta</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="qui_primeira_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="qui_primeira_saida"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="qui_segunda_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="qui_segunda_saida"
                >
            </div>
        </div>

        <h3 class="text">Sexta</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="sex_primeira_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="sex_primeira_saida"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="sex_segunda_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="sex_segunda_saida"
                >
            </div>
        </div>

        <h3 class="text">Sábado</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="sab_primeira_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="sab_primeira_saida"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="sab_segunda_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="sab_segunda_saida"
                >
            </div>
        </div>

        <h3 class="text">Domingo</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="dom_primeira_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="dom_primeira_saida"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="dom_segunda_entrada"
                >
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="dom_segunda_saida"
                >
            </div>
        </div>
       
        <button type="submit" id="btnSubmit" class="btn btn-info btn-lg">SALVAR</button>
    </form>
{% endblock %}