{% extends 'admin_base.html' %}

{% block title %} VIA PONTO - Administrativo {% endblock title %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Dados da Empresa</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>Razão Social</th>
                            <th>CNPJ</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>IE</th>
                            <th>Atividade</th>
                            <th>CEP</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>Logradouro</th>
                            <th>Bairro</th>
                            <th>Número</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{ empresa.razaosocial }}</td>
                            <td>{{ empresa.cnpj }}</td>
                            <td>{{ empresa.celular_empresa }}</td>
                            <td>{{ empresa.email_empresa }}</td>
                            <td>{{ empresa.tel_comercial }}</td>
                            <td>{{ empresa.ie }}</td>
                            <td>{{ empresa.atividade }}</td>
                            <td>{{ empresa.cep }}</td>
                            <td>{{ empresa.cidade }}</td>
                            <td>{{ empresa.uf }}</td>
                            <td>{{ empresa.logradouro }}</td>
                            <td>{{ empresa.bairro }}</td>
                            <td>{{ empresa.numero }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}