{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 class="title">EDITAR TURNO: {{ turno.nome }}</h3>
    
    <form method="POST" class="mb-7" enctype="multipart/form-data"> {% csrf_token %}
        <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nome Turno</label>
                <input
                    type="text"
                    class="form-control"
                    name="nome_turno"
                    value="{{turno.nome}}"
                    required
                >
            </div>
            <div class="form-group col-md-6">
                <div class="input-group" style="margin-top: 30px;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="departamento">Departamento</label>
                    </div>
                    <select class="custom-select" name="departamento" id="departamento">
                        {% for departamento in departamentos %}
                            {% if departamento.objectId != horario.id_departamento.objectId %}
                                <option value="{{departamento.objectId}}">{{ departamento.nome }}</option>
                            
                            {% else %}
                                <option value="{{departamento.objectId}}" selected>{{ departamento.nome }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <h5>Segunda</h5>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Primeira Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="primeira_entrada"
                    value="{{turno.primeira_entrada}}"
                    required
                >
            </div>
            <div class="form-group col-md-4">
                <label>Primeira Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="primeira_saida"
                    value="{{turno.primeira_saida}}"
                    required
                >
            </div>

            <div class="form-group col-md-4">
                <label>Segunda Entrada</label>
                <input
                    type="time"
                    class="form-control"
                    name="segunda_entrada"
                    value="{{turno.segunda_entrada}}"
                    required
                >
            </div>
            <div class="form-group col-md-4">
                <label>Segunda Saída</label>
                <input
                    type="time"
                    class="form-control"
                    name="segunda_saida"
                    value="{{turno.segunda_saida}}"
                    required
                >
            </div>
        </div>

        <button type="submit" id="btnSubmit" class="btn btn-info btn-lg">SALVAR</button>
    </form>
{% endblock %}

