{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 class="title">EDITAR TURNO: {{ horario.nome }}</h3>
    
    <form method="POST" class="mb-7" enctype="multipart/form-data"> {% csrf_token %}
        <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>

        <h3 class="text">{{ horario.dia_da_semana }}</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Primeira Entrada</label>
                {% if horario.primeira_entrada != "nao definido" %}
                    <input
                        type="time"
                        class="form-control"
                        name="primeira_entrada"
                        value="{{horario.primeira_entrada}}"
                    >
                {% else %}
                    <input
                        type="time"
                        class="form-control"
                        name="primeira_entrada"
                    >
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label>Primeira Saída</label>
                {% if horario.primeira_saida != "nao definido" %}
                    <input
                        type="time"
                        class="form-control"
                        name="primeira_saida"
                        value="{{horario.primeira_saida}}"
                    >
                {% else %}
                    <input
                        type="time"
                        class="form-control"
                        name="primeira_saida"
                    >
                {% endif %}
            </div>

            <div class="form-group col-md-3">
                <label>Segunda Entrada</label>
                {% if horario.segunda_entrada != "nao definido" %}
                    <input
                        type="time"
                        class="form-control"
                        name="segunda_entrada"
                        value="{{horario.segunda_entrada}}"
                    >
                {% else %}
                    <input
                        type="time"
                        class="form-control"
                        name="segunda_entrada"
                    >
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label>Segunda Saída</label>
                {% if horario.segunda_saida != "nao definido" %}
                    <input
                        type="time"
                        class="form-control"
                        name="segunda_saida"
                        value="{{horario.segunda_saida}}"
                    >
                {% else %}
                    <input
                        type="time"
                        class="form-control"
                        name="segunda_saida"
                    >
                {% endif %}
            </div>
        </div>

        <button type="submit" id="btnSubmit" class="btn btn-info btn-lg">SALVAR</button>
    </form>
{% endblock %}