{% extends 'index.html' %}

{% block title %}
Funcionário da empresa
{% endblock title %}

{% block extra_style %}
    <style>
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

    </style>
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        {% for funcionario in funcionarios %}
            {% if funcionario.objectId == Id_user %}
                <h6 class="m-0 font-weight-bold text-success">Funcionário: {{ funcionario.nome }}</h6>
            {% endif %}
        {% endfor %}
    </div>
    <div class="card-body">
        <div class="filtropordata"></div>
        <div class="table-responsive">
            <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Data Registro</th>
                        <th>Horário</th>
                        <th>Quantidade</th>
                        <th>Registro</th>
                        <th>Local do Registro</th>
                    </tr>
                </thead>

                <tbody>
                    {% for ponto in pontos %}
                        {% if ponto.id_funcionario.objectId == Id_user %}
                            <tr>
                                <td>{{ ponto.createdAt }}</td>
                                <td>{{ ponto.horario }}</td>
                                <td>{{ ponto.quantidade }}</td>
                                <td>{{ ponto.registro }}</td>
                                <td>{{ ponto.local_registro }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

{% endblock %}