{% extends 'base_colaborador.html' %}

{% block title %}Erro - VIA PONTO{% endblock title %}

{% block content %}
    <h3 class="text-center title">Infelizmente houve algum erro na sua solicitação.</h3>
    <h3 class="text-center subtitle">Verifique se foi preenchido os dados corretamente e tente novamente mais tarde!</h3>

    {% for key in lista %}
        <a class="text-center" href="{% url 'dashboard_colaborador' token=key.id %}">
            <button type="button" class="btn btn-success">Clique para voltar a Página Inicial</button>
        </a>
    {% endfor %}
{% endblock %}