{% extends 'index.html' %}

{% block title %}
Funcionário da empresa
{% endblock title %}

{% block extra_style %}
    <style>
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

    </style>
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-success">Funcionário: {{  }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Data de Criação</th>
                        <th>Registro</th>
                        <th>Horario</th>
                        <th>Local do Registro</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{  }}</td>
                        <td>{{  }}</td>
                        <td>{{  }}</td>
                        <td>{{  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

{% endblock %}