<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>VIA PONTO</title>
</head>
<body>
    <div id="container">
        <header>
            <img src="../static/img/logo.png" alt="Logo Via Ponto" class="logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Como Funciona</a></li>
                    <li><a href="#">Ferramentas</a></li>
                    <li><a href="#">Pacotes</a></li>
                    <li><a href="#">Ajuda</a></li>
                    <li><a href="#">Ponto Online</a></li>
                </ul>
            </nav>
            <a href="#" class="cta"><button class="btn_register">Criar sua Conta</button></a>
            <a href="#" class="cta"><button class="btn_login">Entrar</button></a>
        </header>
    </div>
    
</body>
</html>