{% extends 'base.html' %}

{% block extra_style %}
    <style>
        .card-body .row {
            margin-bottom: 30px;
        }
        
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

        .rTable tbody tr:nth-child(2n){
            background: #98FB98;
        }

        .td-1 {
            width: 30%;
        }
        .td-2 {
            width: 25%;
        }
        .td-3 {
            width: 25%;
        }
        .td-3 {
            width: 20%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <div>
                <h3 class="title">RELATÓRIO DE LOCAIS</h3>
                <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>
            </div>
            
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>NOME</th>
                            <th>CEP</th>
                            <th>Departamento</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for local in locais %}
                            <tr>
                                <td class="td-1">{{ local.nome }}</td>
                                <td class="td-2">{{ local.cep }}</td>
                                {% if local.id_departamento.objectId == 'nao definido' %}
                                    <td class="td-3">Não possui</td>
                                {% else %}
                                    {% for departamento in departamentos %}
                                        {% if departamento.objectId == local.id_departamento.objectId %}
                                            <td class="td-3">{{ departamento.nome }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <td class="td-3">
                                    {% for key in lista %}
                                        <a href="{% url 'detail_local' token=key.id id=local.objectId %}">
                                            <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-eye"></i>
                                        </a>
                                    {% endfor %}
                                    {% for key in lista %}
                                        <a href="{% url 'edit_local' token=key.id id=local.objectId %}">
                                            <i style="margin-left: 25px; color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                        </a>
                                    {% endfor %}
                                    {% for key in lista %}
                                        <a href="{% url 'delete_local' token=key.id id=local.objectId %}">
                                            <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                        </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}