{% extends 'index_admin.html' %}

{% block title %} Lista de Empresas {% endblock title %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Lista de Empresas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>CEP</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for dap in lista2 %}
                            <tr>
                                <td>{{ dap.nome_empresa }}</td>
                                <td>{{ dap.cnpj }}</td>
                                <td>{{ dap.cep }}</td>
                                <td>{{ dap.celular_empresa }}</td>
                                <td>{{ dap.email_empresa }}</td>
                                <td>
                                    <a href="{% url 'ver_empresa' token=dap.token id=dap.objectId %}">
                                        <button type="button" class="btn btn-success">Dados Empresa</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}