{% extends 'admin_base.html' %}

{% block title %} VIA PONTO - Administrativo {% endblock title %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Lista de Empresas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ/CPF</th>
                            <th>CEP</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for empresa in empresas %}
                            <tr>
                                <td>
                                    {% for key in lista %}
                                        <a href="{% url 'detail_empresa' token=key.id id=empresa.objectId %}">
                                            {{ empresa.razaosocial }}
                                        </a>
                                    {% endfor %}
                                </td>
                                <td>{{ empresa.cnpj }}</td>
                                <td>{{ empresa.cep }}</td>
                                <td>{{ empresa.celular_empresa }}</td>
                                <td>{{ empresa.email_empresa }}</td>

                                {% if empresa.bloqueado == True %}
                                    <td>Bloqueado</td>
                                {% else %}
                                    <td>Ativo</td>
                                {% endif %}

                                <td>
                                    {% for key in lista %}
                                        <a href="{% url 'desbloquear_empresa' token=key.id id=empresa.objectId %}">
                                            <i style="margin-left: 25px; color: green; font-size: 20px;" class="fas fa-lock-open"></i>
                                        </a>
                                    {% endfor %}
                                    {% for key in lista %}
                                        <a href="{% url 'bloquear_empresa' token=key.id id=empresa.objectId %}">
                                            <i style="margin-left: 25px; color: red; font-size: 20px;" class="fas fa-user-lock"></i>
                                        </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

