{% extends 'base.html' %}

{% block extra_style %}
    <style>
        .card-body .row {
            margin-bottom: 30px;
        }
        
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

        .rTable tbody tr:nth-child(2n){
            background: #98FB98;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <div>
                <h3 class="title">RELATÓRIO DE LOCAIS</h3>
                <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>
            </div>
            
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>LOCAIS</th>
                            <th>OPÇÕES</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>EQIPE 1</td>
                            <td>BOTÕES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}