{% extends 'base.html' %}

{% block title %} VIA PONTO - Horário {% endblock title %}

{% block extra_style %}
    <style>
        .card-body .row {
            margin-bottom: 30px;
        }
        
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

        .rTable tbody tr:nth-child(2n){
            background: #98FB98;
        }

        .td-1 {
            width: 33%;
        }
        .td-2 {
            width: 33%;
        }
        .td-3 {
            width: 33%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <div>
                <h3 class="title">RELATÓRIO DE HORÁRIOS</h3>
                <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>NOME</th>
                            <th>DEPARTAMENTO</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for departamento in departamentos %}
                            {% for turno in turnos %}
                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "segunda-feira"%}
                                        <tr>
                                            <td class="td-1">{{ turno.nome }}</td>
                                            <td class="td-2">{{ departamento.nome }}</td>
                                            <td class="td-3">
                                                {% for key in lista %}
                                                    <a href="{% url 'detail_horario' token=key.id id=turno.id_departamento.objectId nome=turno.nome %}">
                                                        <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-eye"></i>
                                                    </a>
                                                {% endfor %}
                                                {% for key in lista %}
                                                    <a href="{% url 'edit_horario' token=key.id id=turno.id_departamento.objectId nome=turno.nome %}">
                                                        <i style="margin-left: 25px; color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                    </a>
                                                {% endfor %}
                                                {% for key in lista %}
                                                    <a href="{% url 'delete_horario' token=key.id id=turno.id_departamento.objectId %}">
                                                        <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                    </a>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}