{% extends 'base.html' %}

{% block title %} Lista dos Funcionários {% endblock title %}

{% block extra_style %}
    <style>
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

        .rTable tbody tr:nth-child(2n){
            background: #98FB98;
        }

        .td-1 {
            width: 25%;
        }

        .td-2 {
            width: 15%;
        }

        .td-3 {
            width: 20%;
        }

        .td-4 {
            width: 20%;
        }

        .td-5 {
            width: 20%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3 flex-container">
            <div>
                <h3 class="title">RELATÓRIO DE COLABORADORES</h3>
                <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>
            </div>
            
            <div>
                {% for key in lista %}
                    <a href="{% url 'cadastro_colaborador' token=key.id %}">
                        <button class="btn btn-info btn-lg" type="button">CADASTRAR</button>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>COLABORADOR</th>
                            <th>CPF</th>
                            <th>CARGO</th>
                            <th>DEPARTAMENTO</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for colaborador in colaboradores %}
                            {% if colaborador.gestor == False and colaborador.demitido == False %}
                                <tr>
                                    <td class="td-1">{{ colaborador.nome }}</td>
                                    <td class="td-2">{{ colaborador.cpf }}</td>
                                    {% if colaborador.id_cargo.objectId == 'nao definido' %}
                                        <td class="td-3">Não possui</td>
                                    {% else %}
                                        {% for cargo in cargos %}
                                            {% if cargo.objectId == colaborador.id_cargo.objectId %}
                                                <td class="td-3">{{ cargo.nome }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if colaborador.id_departamento.objectId == 'nao definido' %}
                                        <td class="td-4">Não possui</td>
                                    {% else %}
                                        {% for departamento in departamentos %}
                                            {% if departamento.objectId == colaborador.id_departamento.objectId %}
                                                <td class="td-4">{{ departamento.nome }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <td class="td-5">
                                        {% for key in lista %}
                                            <a href="">
                                                <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-eye"></i>
                                            </a>
                                        {% endfor %}
                                        {% for key in lista %}
                                            <a href="{% url 'edit_colaborador' token=key.id id=colaborador.objectId %}">
                                                <i style="margin-left: 25px; color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                            </a>
                                        {% endfor %}
                                        {% for key in lista %}
                                            <a href="{% url 'demitir_colaborador' token=key.id id=colaborador.objectId %}">
                                                <i style="margin-left: 25px; color: red; font-size: 20px;" class="fas fa-briefcase"></i>
                                            </a>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}