{% extends 'base.html' %}

{% block extra_style %}
    <style>
        .card-body .row {
            margin-bottom: 30px;
        }
        
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

        .rTable tbody tr:nth-child(2n){
            background: #98FB98;
        }

        .td-1 {
            width: 17%;
        }
        .td-2 {
            width: 15%;
        }
        .td-3 {
            width: 10%;
        }
        .td-4 {
            width: 12%;
        }
        .td-5 {
            width: 12%;
        }
        .td-6 {
            width: 12%;
        }
        .td-7 {
            width: 12%;
        }
        .td-8 {
            width: 10%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <div>
                <h3 class="title">RELATÓRIO DE HORÁRIOS</h3>
                <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>DEPARTAMENTO</th>
                            <th>TURNO</th>
                            <th>DIA</th>
                            <th>1ª ENTRADA</th>
                            <th>1ª SAIDA</th>
                            <th>2ª ENTRADA</th>
                            <th>2ª SAIDA</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for departamento in departamentos %}
                            {% for turno in turnos %}
                                <tr>
                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "segunda" %}
                                        <td class="td-1">{{ departamento.nome }}</td>
                                        <td class="td-2">{{ turno.nome }}</td>
                                        <td class="td-3">Segunda</td>
                                        <td class="td-4">{{ turno.primeira_entrada }}</td>
                                        <td class="td-5">{{ turno.primeira_saida }}</td>
                                        <td class="td-6">{{ turno.segunda_entrada }}</td>
                                        <td class="td-7">{{ turno.segunda_saida }}</td>
                                        
                                        <td class="td-8">
                                            {% for key in lista %}
                                                <a href="{% url 'edit_horario' token=key.id id=turno.objectId %}">
                                                    <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                </a>
                                            {% endfor %}
                                            {% for key in lista %}
                                                <a href="{% url 'delete_horario' token=key.id id=turno.objectId %}">
                                                    <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "terca" %}
                                        <td class="td-1">{{ departamento.nome }}</td>
                                        <td class="td-2">{{ turno.nome }}</td>
                                        <td class="td-3">Terça</td>
                                        <td class="td-4">{{ turno.primeira_entrada }}</td>
                                        <td class="td-5">{{ turno.primeira_saida }}</td>
                                        <td class="td-6">{{ turno.segunda_entrada }}</td>
                                        <td class="td-7">{{ turno.segunda_saida }}</td>
                                        
                                        <td class="td-8">
                                            {% for key in lista %}
                                                <a href="{% url 'edit_horario' token=key.id id=turno.objectId %}">
                                                    <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                </a>
                                            {% endfor %}
                                            {% for key in lista %}
                                                <a href="{% url 'delete_horario' token=key.id id=turno.objectId %}">
                                                    <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "quarta" %}
                                        <td class="td-1">{{ departamento.nome }}</td>
                                        <td class="td-2">{{ turno.nome }}</td>
                                        <td class="td-3">Quarta</td>
                                        <td class="td-4">{{ turno.primeira_entrada }}</td>
                                        <td class="td-5">{{ turno.primeira_saida }}</td>
                                        <td class="td-6">{{ turno.segunda_entrada }}</td>
                                        <td class="td-7">{{ turno.segunda_saida }}</td>
                                        
                                        <td class="td-8">
                                            {% for key in lista %}
                                                <a href="{% url 'edit_horario' token=key.id id=turno.objectId %}">
                                                    <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                </a>
                                            {% endfor %}
                                            {% for key in lista %}
                                                <a href="{% url 'delete_horario' token=key.id id=turno.objectId %}">
                                                    <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "quinta" %}
                                        <td class="td-1">{{ departamento.nome }}</td>
                                        <td class="td-2">{{ turno.nome }}</td>
                                        <td class="td-3">Quinta</td>
                                        <td class="td-4">{{ turno.primeira_entrada }}</td>
                                        <td class="td-5">{{ turno.primeira_saida }}</td>
                                        <td class="td-6">{{ turno.segunda_entrada }}</td>
                                        <td class="td-7">{{ turno.segunda_saida }}</td>
                                        
                                        <td class="td-8">
                                            {% for key in lista %}
                                                <a href="{% url 'edit_horario' token=key.id id=turno.objectId %}">
                                                    <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                </a>
                                            {% endfor %}
                                            {% for key in lista %}
                                                <a href="{% url 'delete_horario' token=key.id id=turno.objectId %}">
                                                    <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "sexta" %}
                                        <td class="td-1">{{ departamento.nome }}</td>
                                        <td class="td-2">{{ turno.nome }}</td>
                                        <td class="td-3">Sexta</td>
                                        <td class="td-4">{{ turno.primeira_entrada }}</td>
                                        <td class="td-5">{{ turno.primeira_saida }}</td>
                                        <td class="td-6">{{ turno.segunda_entrada }}</td>
                                        <td class="td-7">{{ turno.segunda_saida }}</td>
                                        
                                        <td class="td-8">
                                            {% for key in lista %}
                                                <a href="{% url 'edit_horario' token=key.id id=turno.objectId %}">
                                                    <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                </a>
                                            {% endfor %}
                                            {% for key in lista %}
                                                <a href="{% url 'delete_horario' token=key.id id=turno.objectId %}">
                                                    <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "sabado" %}
                                        <td class="td-1">{{ departamento.nome }}</td>
                                        <td class="td-2">{{ turno.nome }}</td>
                                        <td class="td-3">Sábado</td>
                                        <td class="td-4">{{ turno.primeira_entrada }}</td>
                                        <td class="td-5">{{ turno.primeira_saida }}</td>
                                        <td class="td-6">{{ turno.segunda_entrada }}</td>
                                        <td class="td-7">{{ turno.segunda_saida }}</td>
                                        
                                        <td class="td-8">
                                            {% for key in lista %}
                                                <a href="{% url 'edit_horario' token=key.id id=turno.objectId %}">
                                                    <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                </a>
                                            {% endfor %}
                                            {% for key in lista %}
                                                <a href="{% url 'delete_horario' token=key.id id=turno.objectId %}">
                                                    <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if turno.id_departamento.objectId == departamento.objectId %}
                                    {% if turno.dia_da_semana == "domingo" %}
                                        <td class="td-1">{{ departamento.nome }}</td>
                                        <td class="td-2">{{ turno.nome }}</td>
                                        <td class="td-3">Domingo</td>
                                        <td class="td-4">{{ turno.primeira_entrada }}</td>
                                        <td class="td-5">{{ turno.primeira_saida }}</td>
                                        <td class="td-6">{{ turno.segunda_entrada }}</td>
                                        <td class="td-7">{{ turno.segunda_saida }}</td>
                                        
                                        <td class="td-8">
                                            {% for key in lista %}
                                                <a href="{% url 'edit_horario' token=key.id id=turno.objectId %}">
                                                    <i style="color: #6bc9ca; font-size: 20px;" class="fas fa-pencil-alt"></i>
                                                </a>
                                            {% endfor %}
                                            {% for key in lista %}
                                                <a href="{% url 'delete_horario' token=key.id id=turno.objectId %}">
                                                    <i style="margin-left: 25px; color: red; font-size: 20px;" class="far fa-trash-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                {% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}