{% extends 'base.html' %}

{% block title %} Lista dos Funcionários {% endblock title %}

{% block extra_style %}
    <style>
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

        .rTable tbody tr:nth-child(2n){
            background: #98FB98;
        }

        .rTable tbody tr .link-func {
            text-decoration: none;
            cursor: pointer;
            transition: ease-in 0.2s;
        }

        .rTable tbody tr .link-func:hover {
            color: #7FFF00;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3 flex-container">
            <div>
                <h3 class="title">RELATÓRIO DE COLABORADORES</h3>
                <h6 class="subtitle">Fique a vontade para alterar seus dados</h6>
            </div>
            
            <div>
                {% for key in lista %}
                    <a href="" target="_blank">
                        <button class="btn btn-info btn-lg" type="button">CADASTRAR</button>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                    <thead>
                        <tr>
                            <th>COLABORADOR</th>
                            <th>CPF</th>
                            <th>Cargo</th>
                            <th>Departamento</th>
                            <th>OPÇÕES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for dap in order %}
                            {% if dap.id_empresa.objectId == id_emp %}
                                <tr>
                                    <td><a href="{% url 'pontos_colaborador' token=dap.cod id_user=dap.objectId %}">{{ dap.nome }}</a></td>
                                    <td>{{ dap.cpf }}</td>
                                    <td>{{ dap.cargo }}</td>
                                    <td>{{ dap.departamento }}</td>
                                    <td>BOTOES</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endblock %}