{% extends 'base.html' %}

{% block title %} VIA PONTO - Registros de Ponto {% endblock title %}

{% block extra_style %}
<style>
  .card-body .row {
    margin-bottom: 30px;
  }

  .rTable {
    text-align: center;
  }

  .rTable thead {
    background-color: #20953B;
    font-weight: bold;
    color: white;
    font-size: 1em;
  }

  .rTable tbody tr:nth-child(2n) {
    background: #98FB98;
  }

  .div-flex {
    display: flex;
    justify-content: space-between;
  }
</style>
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3 div-flex">
    <div>
      <h1 class="title">Registros de Ponto</h1>
      <h3 class="text">Nome: {{ colaborador.nome }}</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <form class="form-inline my-2 my-lg-0 pull-right">
          <label>Data Inicial</label>
          <input class="form-control ml-sm-2 mr-sm-2" name="start_date" type="date" value="{{ start_date }}" />
          <label>Data Final</label>
          <input class="form-control ml-sm-2 mr-sm-2" name="end_date" type="date" value="{{ end_date }}" />
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Atualizar</button>
        </form>
      </div>
    </div>
    <div class="table-responsive">
      <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Data</th>
            <th>Dia da Semana</th>
            <th>Registro</th>
            <th>Horas</th>
            <th>Local do Registro</th>
          </tr>
        </thead>

        <tbody>
          {% for ponto in pontos %}
            {% if ponto.createdAt != "sem registro" %}
              <tr>
                <td>{{ ponto.createdAt }}</td>
                <td>{{ ponto.dia_da_semana }}</td>
                <td>{{ ponto.registro }}</td>
                <td>{{ ponto.horario }}</td>
                <td>{{ ponto.local_registro }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}