{% extends 'base_colaborador.html' %}

{% block title %} VIA PONTO - Registro de Ponto {% endblock title %}

{% block extra_style %}
    <style>
        #data-hora, #weekday {
            font-size: 26px;
        }

        .button {
            margin-top: 25px;
        }
    </style>
{% endblock %}

{% block button %}
    <a href="{% url 'dashboard_colaborador' token=key.id %}"><button class="btn-ponto">DASHBOARD</button></a>
{% endblock %}

{% block content %}
<div class="card shadow mb-5">
    <div class="card-header py-3">
        <div>
            <h3 class="title text-center">REGISTRO DO PONTO</h3>
            <h6 class="subtitle text-center">Ative a localização e registre no horário conforme está definido em seu departamento</h6>
        </div>
        
    </div>
    <div class="card-body">
        <div class="text-center text" id="weekday"></div>
        <div class="text-center text" id="data-hora"></div>
        <div class="text-center button">
            <form method="POST" class="mb-7" enctype="multipart/form-data"> {% csrf_token %}
                <div class="form-row">
                        <input
                            type="hidden"
                            id="ruaId"
                            name="rua"
                        >
                        <input
                            type="hidden"
                            id="bairroId"
                            name="bairro"
                        >
                        <input
                            type="hidden"
                            id="cidadeId"
                            name="cidade"
                        >
                        <input
                            type="hidden"
                            id="estadoId"
                            name="estado"
                        >
                    </div>
                    <button class="btn btn-info btn-lg" type="submit">REGISTRAR PONTO</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        navigator.geolocation.getCurrentPosition(function(posicao) {
            var url = "https://nominatim.openstreetmap.org/reverse.php?lat="+posicao.coords.latitude+"&lon="+posicao.coords.longitude+"&zoom=16&format=jsonv2";
            
            async function getLocation() {
                await fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        cidade = data.address.city;
                        rua = data.address.road;
                        bairro = data.address.suburb;
                        estado = data.address.state;
                    })
                    .catch(() => {
                        console.error("Não deu")
                    })

                document.getElementById('cidadeId').value = cidade;
                document.getElementById('ruaId').value = rua;
                document.getElementById('bairroId').value= bairro;
                document.getElementById('estadoId').value = estado;
            }

            getLocation();
        });
    </script>
    <script>
        var week = ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"];

        // Função para formatar 1 em 01
        const zeroFill = n => {
            return ('0' + n).slice(-2);
        }

        // Cria intervalo
        const interval = setInterval(() => {
            // Pega o horário atual
            const now = new Date();
            const weekday = week[now.getDay()];

            // Formata a data conforme dd/mm/aaaa hh:ii:ss
            const dataHora = zeroFill(now.getDate()) + '/' + zeroFill((now.getMonth() + 1)) + '/' + now.getFullYear() + ' ' + zeroFill(now.getHours()) + ':' + zeroFill(now.getMinutes()) + ':' + zeroFill(now.getSeconds());

            document.getElementById('weekday').innerHTML = weekday;
            // Exibe na tela usando a div#data-hora
            document.getElementById('data-hora').innerHTML = dataHora;
        }, 1000);
    </script>
{% endblock %}