{% extends 'base.html' %}

{% block title %}VIA PONTO - Relatorio de Pontos {% endblock title %}

{% block extra_style %}
<style>
  .card-body .row {
    margin-bottom: 30px;
  }

  .rTable {
    text-align: center;
  }

  .rTable thead {
    background-color: #20953B;
    font-weight: bold;
    color: white;
    font-size: 1em;
  }

  .rTable tbody tr:nth-child(2n) {
    background: #98FB98;
  }

  .input-group {
    margin-top: 28px;
  }

  .input-group form button {
    margin-left: 24px;
  }
</style>
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3 div-flex">
    <h1 class="title">RELATÓRIO DE PONTOS</h1>
    <div class="">
      <div class="input-group">
        <form class="form-inline my-2 my-lg-0 pull-right">
          <div class="input-group-prepend">
            <label class="input-group-text" for="departamento">Departamento</label>
          </div>
          <select class="custom-select" name="departamento" id="departamento">
              <option selected>Selecione um departamento</option>
              {% for departamento in departamentos %}
                  <option value="{{departamento.objectId}}">{{ departamento.nome }}</option>
              {% endfor %}
          </select>
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Cargo</th>
            <th>Departamento</th>
          </tr>
        </thead>

        <tbody>
          {% for colaborador in colaboradores %}
            <tr>
              {% for key in lista %}
                <td>
                  <a href="{% url 'registros_ponto' token=key.id id_user=colaborador.objectId %}">
                    {{ colaborador.nome }}
                  </a>
                </td>
              {% endfor %}
              <td>{{ colaborador.cpf }}</td>
              {% for cargo in cargos %}
                {% if cargo.objectId == colaborador.id_cargo.objectId %}
                  <td>{{ cargo.nome }}</td>
                {% endif %}
              {% endfor %}

              {% for departamento in departamentos %}
                {% if departamento.objectId == colaborador.id_departamento.objectId %}
                  <td>{{ departamento.nome }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}