{% extends 'base_colaborador.html' %}

{% block title %}Registrado com sucesso - VIA PONTO{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h2 text-gray-900 mb-2">Registrado com <strong>sucesso!</strong></h1>
                                    <br>
                                    {% for key in lista %}
                                        <a href="{% url 'gerar_comprovante_ponto' token=key.id id_ponto=ponto_id %}" target="_blank"><button class="btn btn-success">IMPRIMIR COMPROVANTE DE REGISTRO</button></a>
                                    {% endfor %}
                                    <br>
                                    <br>
                                    <br>
                                    {% for key in lista %}
                                        <a href="{% url 'dashboard_colaborador' token=key.id %}"><button class="btn btn-info">Página Inicial</button></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}