{% extends 'index.html' %}

{% block title %}
Listar funcionários da empresa
{% endblock title %}

{% block extra_style %}
    <style>
        .rTable {
            text-align: center;
        }

        .rTable thead {
            background-color: #20953B;
            font-weight: bold;
            color: white;
            font-size: 1em;
        }

        .rTable tbody tr:nth-child(2n){
            background: #98FB98;
        }

        .rTable tbody tr .link-func {
            text-decoration: none;
            cursor: pointer;
            transition: ease-in 0.2s;
        }

        .rTable tbody tr .link-func:hover {
            color: #7FFF00;
        }
    </style>
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-success">Funcionários da empresa</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="rTable table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Celular</th>
                        <th>Cargo</th>
                        <th>Departamento</th>
                    </tr>
                </thead>

                <tbody>
                    {% for dap in order %}
                        <tr>
                            <td><a href="{% url 'exibir_perfil' token=dap.cod empresa=dap.nome_empresa id_user=dap.objectId %}">{{ dap.nome }}</a></td>
                            <td>{{ dap.cpf }}</td>
                            <td>{{ dap.celular }}</td>
                            <td>{{ dap.cargo }}</td>
                            <td>{{ dap.departamento }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

{% endblock %}
 <!---   <td><a href="{% url 'usuario_remover' pk=usuario.pk %}"><span>
                <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd"
        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
         </span> </a>
                        <a href="{% url 'usuario_editar' pk=usuario.pk %}">
            <span><svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg></span>
                        </a>


                    </td> --->